.submitBtn {
  color: white;
  font-weight: bolder;
  background-color: #47f71c;
  border: none;
  height: 50px;
  margin-top: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.submitBtn:active {
  transform: scale(0.98);
}
